# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Environments
.venv/
env/
venv/
env.bak/
venv.bak/
*.venv/
*.env/

# IDE files
.idea/
.vscode/
*.pyc
*.bak
*.swp
